.env

OpenAIComponent/venv/
venv/

*.pyc
OpenAIComponent/__pycache__/

OpenAIComponent/instance/

OpenAIComponent/.pytest_cache/
OpenAIComponent/.coverage
OpenAIComponent/htmlcov/

OpenAIComponent/dist/
OpenAIComponent/build/
OpenAIComponent/*.egg-info/

.DS_STORE
